*{
    padding: 0%;
    margin: 0%;
    overflow-x: ;
    box-sizing: border-box;
    
}

.to_do{
    width:100%;
    margin: auto; 
    height: 100%;
    padding-top: 50px;
    position: relative;
    padding: 0 20px 0 20px;
    padding-top: 50px;
}
.Theme{
    background-image: url(../images/bg-desktop-dark.jpg);
    height: 13.7rem;
    font-weight: 700;
    text-align: center;
    }
.Theme .title{
    display: flex;
    font-size: 35px;
    letter-spacing: 10px;
    color: white;
    justify-content: space-between;
     text-transform: uppercase;
    
}
.Theme .input_field{
    margin-top: 30px;
    
}
.Theme .input_field input{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 2px;
    padding-left: 20px;
    
}
.Theme .input_field input[type=text]{
    font-size: 18px;
    color: black;
     
    font-weight: 500;
    
}
input::placeholder{
    color:black
}
input:focus{
    outline: none;
}
.result_main{
    padding: 0 20px 0 20px;
}
.results{
    width: 100%;
    top: 200px;
    left: 0%;
  
    padding: 0 20px 0 20px;
    box-shadow: 0 35px 50px rgb(0 0 0 / 50%)

    
}

.results ul li{
    border-bottom: 1px solid rgb(121, 115, 115);
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
    
}
li img{
    width: 12px;
    height: 12px;
}
.checkbox {
    display: inline-block;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background: transparent;
    border: 1px solid #e4e5f1;
    margin-right: 12px;


    -webkit-appearance: none;
    position: relative;
    margin-right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: transparent;
    border: 1px solid #adb1d9;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
}
.checkbox:checked{
   
    background: linear-gradient(
        160deg, #ff6a6a 0%, #59abff 23%, #c641fc 98%);
    
}

input[type="checkbox"]:checked{
    text-decoration: line-through;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 15px 0 15px;
    align-items: center;
    height: 40px;
}
.btns .function{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.function div{
    margin-left: 10px;
    cursor: pointer;
}
.function div:hover{
    color: rgb(114, 114, 218);
}
@media screen and (min-width:1140px){
    .to_do{
        width:40%;
        margin: auto; 
        padding-top: 50px;
        
        
        
    }
    .results{
        width: 37%;
        margin: auto;
        font-weight: 400;
        border-radius: 5px;
   
    
    }
    

    
}